

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/style.css">

    </head>

    <body>
            <h1 class="centered text-center">Eat Da Burger!</h1>

            <img class="centered" id="burger-image" src ="https://res.cloudinary.com/hellofresh/image/upload/f_auto,fl_lossy,q_auto/v1/hellofresh_s3/image/beef-burger-with-caramelised-onion-jam-d6d4260d.jpg" alt="noooO!" >
            
            <div id="burgers-container" class="centered text-center">

                
                {{{body}}}

            </div>

            

            <input id="burger-name-inp" class = "centered block-center clearPos"></input>
            <button type="button" id="burger-submit" class = "centered block-center clearPos">
                Insert!
            </button>


        

        <script src = "/javascript/local.js"></script>
    </body>

</html>